/* Top Section */
.top-section {
    text-align: center;
    min-height: 10vh;
    padding: 100px 0;
    color: #0D0D0D; /* White text color */
}

#portfolio .top-section {
    background-color: #A66124; /* Ensure black background */
    color: rgb(0, 0, 0);
    text-align: center;
    min-height: 10vh;
    padding: 100px 0;
}
/* Middle Section */
.middle-section {
    background-color: black; /* background color of slim border above protfolio select */
    padding: 50px 0; /* Add some padding for spacing */
}

/* Bottom Section */
.bottom-section {
    background-color: #D9D5D2;
    color: #F27405;
    padding: 30px 0;
    text-align: center;
    font-size: 3rem;
    width: 100%; /* Ensure it spans the full width */
    margin: 0; /* Remove any margin */
    min-height: 150px; /* Set a minimum height to ensure visibility */
    display: flex; /* Use flexbox for centering content */
    justify-content: center;
    align-items: center;
}

.picture-section img.visible {
    opacity: 1;
}

/* Images */
.scroll-container img {
    display: block; /* Ensures images are block-level elements */
    margin: 50px auto; /* Adds equal top and bottom spacing (20px) */
    margin-bottom: 200px; /*increase bottom spacing*/
    width: 50%; /* Adjusts image size */
    max-width: 50%; /* Ensures images don't stretch beyond container */
    opacity: 0;
    transform: translateY(100px); /* Start below view */
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-radius: 20px; /* Rounded edges for images */
}

/*Horizontal picturewheel and strips*/
.horizontal-scroll-section {
    overflow: hidden;
    height: 1200px; /* Adjust as needed */
    background-color: var(--scroll-bg-color, black); /* Use CSS variable for customizable color */
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.horizontal-scroll-container {
    display: flex;
    height: 100%;
    width: fit-content;
    transition: transform 0.5s ease;
    margin-bottom: -100px; /* Adjust to create space below the navbar */
}

.strip {
    width: 60px; /* Adjust the width of each strip */
    height: 60%;
    margin-top: 180px; /* Add margin to create space below the navbar */
    margin-left: 4px; 
    margin-bottom: -100px;
    background-size: cover;
    background-position: center;
    transition: width 0.6s ease;
}

.strip:hover {
    width: 1000px; /* Adjust the expanded width on hover */
    height: 60%; /* Adjust the expanded width on hover */
}

.indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  pointer-events: none;
}

:root {
    --scroll-bg-color: black; /* Default color */
    --navbar-bg-color: #D9D5D2;
    --navbar-text-color: #0D0D0D;
    --navbar-hover-color: orange;
}


/*navigation bar section*/
body {
    margin: 0;
    padding: 0;
    padding-top: 160px; /* Adjust based on your navbar height */
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    margin: 0 !important;
    padding: 0.25rem 1rem !important; /* Tighten space */
    background-color: #736C66; /* or match your navbar/bg */
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
    color: #0D0D0D; /* White text color */
}

.navbar-logo {
    height: 10%; /* Adjust as needed */
    width: 10%; /* Adjust as needed */
    margin-right: 10px;
    margin: -20px;
    margin-left: -30px;
}


.navbar-brand {
    font-size: 1.2rem; /* Reduce font size if needed */
    padding: 20px;
    margin: 0;
}

.navbar-collapse {
    flex-grow: 0;
    margin: 0px;
}


/* Adjust social links positioning */
.social-links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -110px; /* space below navbar */
    padding: 50px 20px 0; /* top spacing, side padding */
    background-color: #736C66; /* or match your navbar/bg */
    color: #0D0D0D; /* White text color */

}

.social-links {
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    gap: 20px; /* Space between icons */
    list-style: none;
    padding-right: 10px;
    margin: 0;
}

.social-links .nav-item {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 60px; /* Reduce icon size */
    height: 60px;
    margin-left: 0px;
}

/* Adjust main navigation links */
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #0D0D0D; /* White text color */

}

@media (max-width: 991px) {
    .navbar {
        align-items: center; /* Center items vertically */
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand-container {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .social-links-container {
        display: flex;
        justify-content: flex-end;
        align-items: left;
        margin-top: 0px; /* space below navbar */
        padding: 10px 20px 0; /* top spacing, side padding */
        background-color: transparent; /* or match your navbar/bg */
    }

    .social-links {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navbar-nav {
        margin-right: 0; /* Remove right margin on small screens */
        margin-left: auto;
        align-items: center;
    }
}


.card-img-top {
    width: 100%;
    height: 200px; /* Adjust this value as needed */
    object-fit: cover;
}


.fade-in-on-scroll {
    opacity: o;
    transform: translateY(0); /* Start below view */
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}
.fade-in-on-scroll.visible {
    opacity: 1;
    transform: translateY(-20); /* Start at the top of the view */
}
/* Add the following CSS code to handle fading out of view */
/* .fade-in-on-scroll.fade-out {
    opacity: 1;
    transform: translateY(50px); Start below view 
} */

.h1-section {
    font-size: 3rem; /* Increase the font size */
    text-shadow: 4px 2px 2px rgba(255, 165, 0, 0.7); /* #F27405 text shadow */
    border: 2px solid white; /* Add a border */
    padding: 1px 40px; /* Add padding inside the border */
    display: inline-block; /* Make the element fit its content */
    margin: 30px auto 50px; /* Center the element and adjust vertical spacing */
    border-radius: 15px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.5); /* Outer glow effect */
    position: relative; /* For pseudo-element positioning */
}

.h1-subsection {
    font-size: 2rem; /* Slightly smaller font size */
    text-shadow: 2px 1px 1px rgba(255, 165, 0, 0.5); /* Lighter text shadow */
    border: 1px solid white; /* Thinner border */
    padding: 20px 20px; /* Adjust padding */
    display: block; /* Make the element fit its content */
    margin: 0px auto; /* Adjust vertical spacing */
    border-radius: 10px; /* Slightly rounded corners */
    background-color: rgba(0, 0, 0, 0.3); /* Lighter semi-transparent background */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3); /* Subtle outer glow effect */
    text-align: center; /* Center the text */
    position: relative; /* For pseudo-element positioning */
    color: white; /* White text color */
    max-width: 80%; /* Limit the width */
    width: fit-content; /* Shrink the element to fit its content */
    line-height: 0.2;
}

.h1-subsection::before,
.h1-subsection::after {
    content: '•';
    color: #F27405;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
}

.h1-image-title {
    font-size: 3rem; /* Increase the font size */
    text-shadow: 4px 2px 2px rgba(255, 165, 0, 0.7); /* #F27405 text shadow */
    border: 2px solid white; /* Add a border */
    padding: 10px 40px; /* Add padding inside the border */
    display: inline-block; /* Make the element fit its content */
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    box-shadow: 3px 3px 3px rgba(255, 165, 0, 0.5); /* Outer glow effect */
    color: white;
    position: absolute; /* Position absolutely within its container */
    left: 50%; /* Move to the horizontal center */
    transform: translateX(-50%); /* Adjust back by half its width */
    top: 70px; /* Distance from the top of its container */
    margin-bottom:40px;
    width: auto; /* Allow the width to adjust to content */
    max-width: 90%; /* Prevent it from becoming too wide on small screens */
    text-align: center; /* Center the text inside */
    z-index: 10; /* Ensure it's above other elements */
}

.h1-portfolio-title {
    text-shadow: 4px 2px 2px rgba(255, 165, 0, 0.7); /* #F27405 text shadow */
    border: 2px solid white; /* Add a border */
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    box-shadow: 3px 3px 3px rgba(255, 165, 0, 0.5); /* Outer glow effect */
    color: white;
    left: 50%; /* Move to the horizontal center */
    margin-bottom: 65px;
    padding: 0px 0px; /* Add padding inside the border */
    transform: translateX(-50%); /* Adjust back by half its width */
    position: relative; /* Position absolutely within its container */
    text-align: center;
    font-size: 3rem; /* Increase the font size */ 
    width: 400px; /* Allow the width to adjust to content */
    max-width: 90%; /* Prevent it from becoming too wide on small screens */
}

/* Add this to the parent container of .h1-image-title */
.image-container {
    position: relative; /* Make it a positioning context for absolute elements */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 30px; /* Add some top padding to accommodate the title */
    margin-bottom: 40px;
}

/* Add a decorative element */
.h1-section::before,
.h1-section::after {
    content: '•';
    color: #F27405;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
}

.h1-section::before {
    left: 15px;
}

.h1-section::after {
    right: 15px;
}

.p-section {
    font-size: 3rem; /* Increase the font size */
    margin: 50px auto 10px; /* Center the paragraph and adjust vertical spacing */
    max-width: 80%; /* Limit the width to 80% of its container */
    text-align: center; /* Center the text */
    border-radius: 15px; /* Rounded corners */
    color: #0D0D0D; /* White text color */
}

.a-section a{
    text-align: center; /* Center the text */
    font-size: 2rem;
    margin: 50px auto 10px; /* Center the section and adjust vertical spacing */
    padding: 40px; /* Increased padding for more space between content and border */
    max-width: 80%; /* Limit the width to 80% of its container */
    color: #F27405;
    text-decoration: none; /* Remove underline */
}
.a-section:hover {
    color: black; /* Change color on hover */
}


.body-wrapper {
  transform: scale(0.8); /* Scale down the entire body */
  transform-origin: top center;
  width: 125%; /* counteracts the scale */
  margin-left: -12.5%; /* centers the scaled content */
}

/* Portfolio Section Background */
#portfolio, #index {
    background-color: #D9D5D2; /* Dark background for the entire portfolio section */
    padding: 50px 0; /* Add some padding for spacing */
}

/* project pages top section*/
.project-page {
    background-color: #D9D5D2; /* Light background for the project page */
}

#portfolio .row {
    margin-bottom: 30px;
}

#portfolio .py-5 {
    background-color: #000000; /* Light background for the portfolio section */
    padding: 0px 0; /* Add some padding for spacing */
}
/* Cards inside the portfolio section */
#portfolio .card {
    background-color: #0D0D0D; /* Dark background for cards */
    color: white; /* White text for cards */
    border-radius: 10px; /* Rounded edges for cards */
    border: 2px solid #444; /* Border for cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#portfolio .card:hover {
    transform: scale(1.05); /* Slightly enlarge cards on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Images inside cards */
#portfolio .card-img-top {
    border-top-left-radius: 15px; /* Rounded edges for top of card images */
    border-top-right-radius: 15px;
}

/* Card body */
#portfolio .card-body {
    padding: 20px;
}

/* Card title */
#portfolio .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #A66124;
    
}

/* Card text */
#portfolio .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
    
}

/* Buttons inside cards */
#portfolio .btn-primary {
    background-color: #736C66; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#portfolio .btn-primary:hover {
    background-color: orange; /* Darker shade on hover */
}

.text-center {
    padding: 20px;
    margin: 20px;
    justify-items: center;
}

#about .p-section{
    color: #D9D5D2;
    font-size: 2.5rem;
}
/* Shrink the width of the form fields in the contact form */
#contact .mb-3 {
    max-width: 500px; /* Set the maximum width */
    margin: 0 auto; /* Center the fields horizontally */
}

#contact .mb-4 {
    margin: 50px auto; /* Center the fields horizontally */
    max-width: 500px; /* Set the maximum width */
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .p-section {
    color: #D9D5D2; /* White text color */
    font-size: 2rem;
    /*max-width: 90%; /* Limit the width to 80% of its container */
    padding-top: 20px;
    padding-bottom: 100px;
}

#contact .form-label {
    color: #D9D5D2; /* White text color */
    
}

#contact .btn-primary-2 {
    background-color: orange; /* orange text color */
    /*border:none;*/
    border-radius: 122px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-color: #D9D5D2; 
}

#contact .bottom-section {
    background-color: #D9D5D2; /* Light background for the contact section */

}

/*Pricing page section*/
/* Pricing page specific styles */
#price {
    background-color: #D9D5D2;
    margin-bottom: -200px; /* Add this line to cut off more of the bottom */
    overflow: auto; /* Add this to prevent scrollbars */
}

#price .top-section {
    padding: 50px 0;
}

#price .h1-section h1 {
    color: #0D0D0D;
}

#price .p-section {
    font-size: 1.2rem;
    color: #0D0D0D;
    max-width: 800px;
    margin: 0 auto;
}

#price .middle-section {
    background-color: #D9D5D2;
    padding-top: 50px; /* Added top padding */
}

#price .fade-in-on-scroll {
    opacity: 1;
    transform: none;
}

#price .h1-image-title {
    position: relative;
    top: 10px;
    margin-bottom: 0px; /* Added margin for spacing */
    padding: 30px;
    font-size: 3rem; /* Increase the font size */
    text-shadow: 4px 2px 2px rgba(255, 165, 0, 0.7); /* #F27405 text shadow */
    border: 2px solid white; /* Add a border */
    display: inline-block; /* Make the element fit its content */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 3px 3px 3px rgba(255, 165, 0, 0.5); /* Outer glow effect */
    color: white;
}

#price .pricing-list {
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 3rem; /* Increase the font size */
    color: #0D0D0D;
}

#price .custom-bullet-list {
    list-style-type: none;
    padding-left: 0;
    color: #0D0D0D;
}

#price .custom-bullet-list > li {
    position: relative;
    padding: 10px 0 10px 30px; /* Adjusted padding */
    top: -150px;
    margin-bottom: 10px;
    color: #0D0D0D;
    font-size: 1.5rem;
}

#price .custom-bullet-list > li::before {
    content: '•';
    color: rgba(255, 165, 0, 0.7);
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 50%;
    top: 0.77em; /* Adjust this value to align the bullet vertically */
    transform: translateY(-50%);
}

#price .custom-bullet-list .sublist {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}

#price .custom-bullet-list .sublist li {
    font-size: 1.3rem;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

#price .custom-bullet-list .sublist li::before {
    content: '◦';
    color: orange;
    font-size: 1.3em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#price .bottom-section {
    background-color: #D9D5D2;
    margin: 10px;
    padding: 10px;
}

#price .p-section {
    padding: 100px 0 200px;
    font-size: 1.5rem;
}

#price .a-section {
    position: relative;
    top: -350px; /* Move the button up */
    margin-bottom: -450px; /* Adjust spacing */
}

#price .a-section a {
    color: #0D0D0D;
    border: 2px solid #0D0D0D;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: .5em;
    transition: all 0.3s ease;
    display: inline-block; /* Ensures padding works correctly */
}

#price .a-section a:hover {
    background-color: #0D0D0D;
    color: #D9D5D2;
}

#price .custom-bullet-list > li > a.price-contact {
    color: #0D0D0D; /* Initial color, matching other text */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

#price .custom-bullet-list > li > a.price-contact:hover {
    color: orange !important; /* Change to orange on hover, use !important to ensure it's not overridden */
}